@model IEnumerable<Grupp9.Models.FormellaInlägg>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Formella inlägg</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>

                @*@Html.Action("SkrivKommentar", "SkrivKommentar", new { blogId = item.Id })*@
                @{Html.RenderPartial("SkrivKommentar", new Grupp9.Models.SkrivKommentarViewModel() { bloggId = item.Id });}
                @{Html.RenderPartial("LäsKommentar",  new { bloggId = item.Id });}

            </td>
        </tr>
    }
</table>
