@model IEnumerable<Grupp9.Models.FormellaInlägg>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Formella inlägg</h2>

<p>
    @Html.ActionLink("Skriv nytt inlägg", "Skriv")
</p>
<table class="table">
    <tr>
        <th>
           Namn
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.Text)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.UserId)*@
                @Html.Action("Namn", "FormellaInlägg", new { userId = item.UserId })

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
                @{var harSkrivit = Html.Action("VemSomSkrivit", "FormellaInlägg", new { userID = item.UserId }).ToString();
                    if (harSkrivit == "True")
                    {
                        @Html.ActionLink("Ta Bort", "DeleteFormellaInlägg", new { id = item.Id });
                    }}
            </td>
            <td>
                <div >
                    @Html.DisplayFor(modelItem => item.Text)
                    @{Html.RenderAction("FilLista", "FormellaInlägg", new { BloggInläggId = item.Id });
                    }
                
                </div>
            </td>
            <td>

                @*@Html.Action("SkrivKommentar", "SkrivKommentar", new { blogId = item.Id })*@
                @{Html.RenderPartial("SkrivKommentar", new Grupp9.Models.SkrivKommentarViewModel() { bloggId = item.Id });}
                </td>
                <td >
                @{Html.RenderAction("LäsKommentar", "FormellaInlägg", new { bloggId = item.Id });
                }
                    @*@{Html.RenderPartial("LäsKommentar",  new Grupp9.Models.ListaKommenterare() { bloggId = item.Id });}*@
            </td>
        </tr>
    }
</table>
