@model IEnumerable<Grupp9.Models.FormellaInlägg>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Skriv nytt inlägg", "Skriv")
</p>
<div style="margin-left: auto">


    @foreach (var item in Model)
    {
        <div style="font-size:large">
            @Html.DisplayFor(modelItem => item.Titel)
        </div>
        <div style=" font-weight: bold">     @Html.Action("Namn", "Forskning", new { userId = item.UserId })</div>

        <div style="float:right; position:relative; top: -43px;">
            @{var harSkrivit = Html.Action("VemSomSkrivit", "FormellaInlägg", new { userID = item.UserId }).ToString();
                if (harSkrivit == "True")
                {
                    @Html.ActionLink("Ta Bort", "DeleteFormellaInlägg", "FormellaInlägg", new { id = item.Id }, null);
                    <br />
                    @Html.ActionLink("Redigera", "redigeraInlägg", "FormellaInlägg", new { id = item.Id }, null);

                }
            }
        </div>
        <br />
        <hr />

        <div>

            @Html.DisplayFor(modelItem => item.Text)
        </div>

        <hr />
        <div>
            @{Html.RenderAction("LäsKommentar", "Forskning", new { bloggId = item.Id });
            }
        </div>
        <div>
            @{Html.RenderPartial("SkrivKommentar", new Grupp9.Models.SkrivKommentarViewModel() { bloggId = item.Id });}
        </div>

        <hr />

    }

</div>
