@model IEnumerable<Grupp9.Models.FormellaInlägg>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Skriv nytt inlägg", "Skriv")
</p>
<table class="table">
    <tr>
        <th>
            Användare
          
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Action("Namn", "Forskning", new { userId = item.UserId })
            @Html.DisplayFor(modelItem => item.Titel)
            @{var harSkrivit = Html.Action("VemSomSkrivit", "FormellaInlägg", new { userID = item.UserId }).ToString();
                var adminStatus = Html.Action("ÄrAdmin", "Profil").ToString();
                    if (harSkrivit == "True" || adminStatus =="True")
                    {
                        @Html.ActionLink("Ta Bort", "DeleteFormellaInlägg", "FormellaInlägg", new { id = item.Id }, null);
                        <br />
                        @Html.ActionLink("Redigera", "redigeraInlägg", "FormellaInlägg", new { id = item.Id }, null);

                    }
                }
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @*@Html.Action("SkrivKommentar", "SkrivKommentar", new { blogId = item.Id })*@
            @{Html.RenderPartial("SkrivKommentar", new Grupp9.Models.SkrivKommentarViewModel() { bloggId = item.Id });}
        </td>
        <td>
            @{Html.RenderAction("LäsKommentar", "Forskning", new { bloggId = item.Id });
            }
            @*@{Html.RenderPartial("LäsKommentar",  new Grupp9.Models.ListaKommenterare() { bloggId = item.Id });}*@
        </td>

    </tr>
}

</table>
