@model Grupp9.Models.SkrivKommentarViewModel

@{
    ViewBag.Title = "SkrivKommentar";
}



@using (Html.BeginForm("SkrivKommentar", "Utbildning", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.kommentarText, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarText, new { htmlAttributes = new { @class = "kommentarText",
               placeholder = "Skriv en kommentar här..." } })
                @Html.ValidationMessageFor(model => model.kommentarText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.bloggId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bloggId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bloggId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
 
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
